.footer_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
    background-color: #323232;
}

// .images_container {
//     justify-content: center;
//     display: flex;
//     width: 100vh;
//     height: 100px;
//     gap: 0px;
// }

.nav_containerF {
    display: flex;
    width: 100%;
    height: 70px;
    display: flex;
    border-top: 0.2px solid black;
}

.logos_pro2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.logos_pro2 img {
    margin: 50px;
    /* La imagen se ajustará al ancho del contenedor */
    height: 100%; /* Mantendrá sus proporciones originales */
    object-fit: contain; /* Asegura que la imagen se ajuste sin perder proporciones */
  }