/* Contenedor principal */
.tools-gra-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: 'Arial', sans-serif;
 
}

/* Información de la empresa */
.company-info {
  margin-bottom: 20px;
  text-align: center;
}

.company-info h2 {
  font-size: 24px;
  margin: 10px 0;
  color: #333;
}

.company-info h3 {
  font-size: 20px;
  margin: 5px 0;
  color: #666;
}

/* Estilos para la tabla */
.tools-gra-table {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
}

.tools-gra-table th,
.tools-gra-table td {
  padding: 12px 15px;
  text-align: left;
}

.tools-gra-table thead th {
  background-color: #447bae;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.tools-gra-table thead tr:first-child th {
  background-color: #3a89be;
  font-size: 20px;
  text-align: center;
  padding: 15px;
}

.tools-gra-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tools-gra-table tbody tr:hover {
  background-color: #e9e9e9;
}

.tools-gra-table td {
  border-bottom: 1px solid #ddd;
}

/* Estilos para las celdas que contienen herramientas */
.tools-cell {
  display: flex;
  flex-direction: column;
}

.tools-cell a {
  color: #007BFF;
  text-decoration: none;
  padding: 5px 0;
  transition: color 0.3s;
}

.tools-cell a:hover {
  color: #0056b3;
  text-decoration: underline;
}
