.nav_container {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: rgb(238, 238, 238);
}

.logos_pro {
    width: 33.3%;
    display: flex;
   align-items: center;
   justify-content: center;
}

.title_nav {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather Sans', sans-serif !important;

}

.sesion_nav {
    width: 33.3%;
}

.titles {
    color: #378AC4;

}

.logos_pro img {
    width: 100%; /* La imagen se ajustará al ancho del contenedor */
    height: 100%; /* Mantendrá sus proporciones originales */
    object-fit: contain; /* Asegura que la imagen se ajuste sin perder proporciones */
  }
